<launch>

  <arg name="gui" default="true"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find robot_eyes)/config/gazebo_worlds/test.sdf"/>
    <arg name="headless" value="true"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="verbose" value="true"/>
  </include>
</launch>
