<launch>
    
    <arg name="color_cloud" default="true"/>
    <arg name="max_models" default="3"/>

    <include file="$(find robot_eyes)/launch/rs200_simulation.launch">
        <arg name="gazebo_gui" value="false"/>
    </include>

    <node pkg="robot_eyes" type="plane_segmenter" name="plane_segmenter" output="screen"
        args="input:=/realsense/camera/depth_registered/points
              output:=/robot_eyes/plane_segmented_cloud">
        <param name="max_models" type="int" value="$(arg max_models)"/>
    </node>

    <group if="$(arg color_cloud)">
        <node pkg="robot_eyes" type="cloud_colorer" name="cloud_colorer"
            args="input:=/robot_eyes/plane_segmented_cloud
                  output:=/robot_eyes/colored" 
                  output="screen"/>
    </group>
</launch>